@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja muito bem vindo a área criada com alunos do desafio</h1>
    <p>Para mais detalhes acesse <a href="https://www.torneseumprogramador.com.br">https://www.torneseumprogramador.com.br</a></p>
</div>
